
@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards');

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
  }

.container{

width: 100%;

height: auto;

}

.brand-logo{
	font-family: 'Mrs Sheppards', cursive;
	margin-top: -10px;
}
.nav-wrapper {
	margin-bottom: 15px;
}
.responsive-img{

width: 100%;
height: auto;


}


.btn-large{

	width: 33.1%;
}

#gmaps-app{
	width: 100%;
	height: 400px;
	background-color: grey;
}

#place-details{
	width: 30%;
	height: 100%;
}

.collapsible-header{
	color:black;
}
.collapsible-body{
	color:black;
}
.collapsible-body p{
	padding-left:10px;
}

.auth-container {
	text-align: center;
	width: 70%;
	max-height: 300px;
}

.profile-container {
	text-align: center;
	width: 70%;
	

}

.profile-img {
	max-width: 300px;
	margin: 0 auto;
}

.profile-name {
	background: rgba(255,255,255,.75)
}

.nav-extended {
	text-align: center;
}

.auth-btns a {
	width: 80%;
}

.poi-collection a {
	width: 100%;
}

.poi-div {
	margin-top: 20px;
}

@media(max-width: 600px) {
	.material-icons {
	display: none;
	}
	}